<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../index.css">
    <link rel="icon" type="image/x-icon" href="../assets/logo2.png">
    <title>TEAM ZERO WASTE</title>
  </head>
  <body class="cnt">
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
        <div class="container"><a href="index.html" class="navbar-brand d-flex align-items-center"> <strong>TEAM ZERO WASTE</strong></a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="../index.html" class="nav-link font-italic"> Home </a></li>
              <li class="nav-item active"><a href="../aboutUs.html" class="nav-link font-italic"> About Us</a></li>
              <li class="nav-item active"><a href="../Blogs.html" class="nav-link font-italic"> Blogs </a></li>
              <li class="nav-item active"><a href="../Projects.html" class="nav-link font-italic"> Projects</a></li>
              <li class="nav-item active"><a href="../eventsComp.html" class="nav-link font-italic"> Events & Campaigns</a></li>
              <li class="nav-item active"><a href="../contact.html" class="nav-link font-italic"> Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>

      <h1 class="text-center" style="font-weight: bolder; color: #014242; font-size: 50px;"><strong><u>Blog #1</u></strong></h1>
      <br><br>
      <div class="container" style="background-color: #ffffff; padding: 20px; border-radius: 20px;">
        <div class="text-center">
          <h2 class="text-centre" style="color: #8aaa59;"><strong>Name Of Blog</strong></h2>
          <br>
          <img src="./assets/pic1.jfif" style="border-radius: 25px; width: 600px;" alt="" class="img-fluid">
          <br><br><br>
          <p class="text-left" style="font-size: 17px; color: #6ea185; font-weight: bold; padding-left: 15px; padding-right: 15px;">

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet assumenda, a commodi illo ab aliquam hic. Voluptatum vero sapiente, ut maiores explicabo perferendis corporis odit cumque, est, distinctio eveniet. Iusto.
            Assumenda tempore animi et consectetur quisquam officia soluta autem eaque, dolorum nihil quo quaerat, debitis placeat? Laborum illum aliquam ex ut iure modi, nemo debitis expedita eveniet at odio tenetur?
            Harum vero vel tenetur perferendis, eius aut temporibus eligendi, magnam blanditiis sit consectetur quo, beatae modi nihil. Sapiente doloremque quidem ad, beatae dolorum ipsam, cumque excepturi dignissimos ex recusandae magni.
            Dicta neque impedit eos ex ea vel sapiente veniam ducimus earum libero quisquam tempore ratione necessitatibus quae corrupti inventore nostrum sunt deleniti, repudiandae omnis officiis in accusamus. Saepe, est doloremque.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet assumenda, a commodi illo ab aliquam hic. Voluptatum vero sapiente, ut maiores explicabo perferendis corporis odit cumque, est, distinctio eveniet. Iusto.
            Assumenda tempore animi et consectetur quisquam officia soluta autem eaque, dolorum nihil quo quaerat, debitis placeat? Laborum illum aliquam ex ut iure modi, nemo debitis expedita eveniet at odio tenetur?
            Harum vero vel tenetur perferendis, eius aut temporibus eligendi, magnam blanditiis sit consectetur quo, beatae modi nihil. Sapiente doloremque quidem ad, beatae dolorum ipsam, cumque excepturi dignissimos ex recusandae magni.
            Dicta neque impedit eos ex ea vel sapiente veniam ducimus earum libero quisquam tempore ratione necessitatibus quae corrupti inventore nostrum sunt deleniti, repudiandae omnis officiis in accusamus. Saepe, est doloremque.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet assumenda, a commodi illo ab aliquam hic. Voluptatum vero sapiente, ut maiores explicabo perferendis corporis odit cumque, est, distinctio eveniet. Iusto.
            Assumenda tempore animi et consectetur quisquam officia soluta autem eaque, dolorum nihil quo quaerat, debitis placeat? Laborum illum aliquam ex ut iure modi, nemo debitis expedita eveniet at odio tenetur?
            Harum vero vel tenetur perferendis, eius aut temporibus eligendi, magnam blanditiis sit consectetur quo, beatae modi nihil. Sapiente doloremque quidem ad, beatae dolorum ipsam, cumque excepturi dignissimos ex recusandae magni.
            Dicta neque impedit eos ex ea vel sapiente veniam ducimus earum libero quisquam tempore ratione necessitatibus quae corrupti inventore nostrum sunt deleniti, repudiandae omnis officiis in accusamus. Saepe, est doloremque.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet assumenda, a commodi illo ab aliquam hic. Voluptatum vero sapiente, ut maiores explicabo perferendis corporis odit cumque, est, distinctio eveniet. Iusto.
            Assumenda tempore animi et consectetur quisquam officia soluta autem eaque, dolorum nihil quo quaerat, debitis placeat? Laborum illum aliquam ex ut iure modi, nemo debitis expedita eveniet at odio tenetur?
            Harum vero vel tenetur perferendis, eius aut temporibus eligendi, magnam blanditiis sit consectetur quo, beatae modi nihil. Sapiente doloremque quidem ad, beatae dolorum ipsam, cumque excepturi dignissimos ex recusandae magni.
            Dicta neque impedit eos ex ea vel sapiente veniam ducimus earum libero quisquam tempore ratione necessitatibus quae corrupti inventore nostrum sunt deleniti, repudiandae omnis officiis in accusamus. Saepe, est doloremque.
          </p>
        </div>
        <br><br>
        <div class="col-md-4"><h2 class="text-right"><a href="../blogs.html" style="text-decoration: none;"><button class="project_showAll"><<- ALL Blogs</button></a></h2></div>
        
      </div>

      

    <br><br>
    <br><br>
    <br><br>
    <br><br>
    





    <!-- ====FOOTER===== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div class="text-center center-block footer">
        <br><br>
        <a href="https://www.facebook.com/tzw.iitb/" class="social_btn"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://www.instagram.com/teamzerowaste_iitb/" class="social_btn"><i id="social-ig" class="fa fa-instagram fa-3x social"></i></a>
        <a href="https://in.linkedin.com/in/team-zero-waste-iit-bombay-ba822a1b3" class="social_btn"><i id="social-ln" class="fa fa-linkedin-square fa-3x social"></i></a>
        <a href="https://tzwiitb.wordpress.com/author/tzwiitb/" class="social_btn"><i id="social-wp" class="fa fa-wordpress" style="font-size:44px"></i></a>
        <br><br>
        <p style="color: white;">&copy; Designed by Team Zero Waste | IIT Bombay</p>
        <br><br>
        <br><br>
      </div>
    




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>