.AboutUsHead{
    font-size: 50px;
    color: white;
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #014242;
}

.abt{
    position: relative;
    float: center;
    color: #538B6A;
    padding: 20px;
    max-width: 1000px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0 20px;
    background-color: #FFFFFF;
    box-shadow: 8px 8px 8px #808180;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;  
}
.cnt{
    background-color: #edfed3;
}

.footer{
    background-color:  #014242;
    border-radius: 40px 40px 0 0;
}

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
.social_btn{
    padding: 3px;
}