html, body {
    max-width: 100%;
    overflow-x: hidden;
    
}
.cnt{
    background-color: #edfed3;
}
.blog{
    background-color: #ffffff;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    box-shadow:
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.blog_head{
    color: #8aaa59;
}
.date{
    font-weight: bold;
    color: #8aaa59;
}
.blogtxt{
    position: relative;
    /* right: -50px; */
}

.logo{
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.abt{
    padding: 30px;
    position: relative;
    float: center;
    color: #538B6A;
    padding: 20px;
    max-width: 750px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FFFFFF;
    box-shadow: 8px 8px 8px #808180;
    border-radius: 12px;
}

.title h1{
    color: #535274;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-align: center;
  }
.form,
.form-items{
    width: 100%;
}  
.form-items .form-control{
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 40px;
    box-sizing: border-box;
    background: #ebeef1;
    border: 0px;
    outline: none;
    border-radius: 15px;
  }
  .form-items .input.message{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px 15px;
    background: #ebeef1;
  }
 


  .popup {
    color: white;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -365%;     /* ##change this to center the popup */
  }
  
  /* Popup arrow- (no need to change) */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


.btn{
    background: #ffffff;
    text-align: center;
    color: #fff;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
  }

label {
    display: block;
    margin-top: 1em;
}

.project{
    background-color: #ffffff;
    margin: 50px;
    padding: 20px;
    padding-top: 50px;
    border-radius: 20px;
    box-shadow:
       inset 0 -3em 3em rgba(10, 153, 41, 0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(3, 122, 73, 0.3);
}
.zoom:hover {
    transition: transform .3s;
    transform: scale(1.2);
    
}
.a:hover{
    text-decoration: none;
}
.project_title{
    text-align: center;
    font-weight: bold;

    color: black;
}
.project_desc{
    color: gray;
}
.project_head{
    margin-bottom: 40px;
    color: #2d4902;
}
.project_showAll{
    background-color: #95ab74;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
}
.footer{
    background-color:  #014242;
    border-radius: 40px 40px 0 0;
}

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
.social_btn{
    padding: 3px;
}